/* 
	Styles for agenda shortcode/widget.
	uses library: https://splidejs.com

	@package HelloIVY
*/

#shortcode-agenda .spacer{
	padding-top: 50px;
}

.splide__pagination{
	bottom: -1.5em;
}
.splide__pagination__page:focus{
	outline: 0;
}

button.splide__pagination__page{
	padding: 0;
	background: var(--e-global-color-text);
}
button.splide__pagination__page:focus {
	background: var(--e-global-color-text);
}
button.splide__pagination__page:hover {
	background: var(--e-global-color-70f5b5c);
}
button.splide__pagination__page.is-active{
	background: var(--e-global-color-70f5b5c);
}
button.splide__arrow:focus{
	outline: 0;
}

/*
	current
*/

#widget-current{
	float: left;
	width: 275px;
	padding: 0 0 10px 0;
}

#widget-current #current-heading{
	font-size: 23px;
	text-transform: uppercase;
	height: 36px;
	width: 250px;
	line-height: 36px;
	padding-left: 10px;
	margin: 0px 0px 15px 0;
	background: #EAEAEA;
	background-clip: border-box;
	box-shadow: 0 1px 3px #EAEAEA;
}

#widget-current .splide__slide{
	height: fit-content;
	width: 250px;
	padding: 10px;
	background-clip: padding-box;
	display: grid;
	align-content: center;
	transition: all .2s ease-in-out;
	border: 1px solid #EAEAEA;
	box-shadow: 0 1px 3px #EAEAEA;
}

#widget-current .splide__slide:hover{
	transform: translateX(5px);
}

#widget-current .date{
	display: flex;
	align-items: center;
}

#widget-current a.box{
	display: block;
}

#widget-current a.box:hover{
	text-decoration: none;
}

#widget-current .float-left{
	float: left;
	width: calc(100% - 30px);
}

#widget-current .float-right{
	float: right;
	width: 30px;
	text-align: end;
}

#widget-current .float-right .arrow svg{
	height: 27px;
	width: 27px;
	fill: var(--e-global-color-primary);
}

#widget-current h2.title{
	font-size: 21px;
	font-weight: 800;
	text-transform: none;
	margin: 0px;
}

#widget-current h2.subtitle{
	font-size: 18px;
	font-weight: 800;
	text-transform: none;
	margin: 0 0 0 0;
	color: #6f6f6f;
}

#widget-current .date-end{
	font: italic normal normal 16px/20px Montserrat;
	text-transform: none;
	padding-top: 9px;
	margin-bottom: 0;
}

#widget-current .splide__arrow--prev{
	top: -2em;
}

#widget-current .splide__arrow--next{
	bottom: -5em;
}

#widget-current .splide__arrow{
	background: none;
	height: 2em;
	width: 2em;
}
#widget-current .splide__arrow:disabled{
	display: none;
}

#widget-current .splide__arrow svg{
	fill: var(--e-global-color-text );
	opacity: 1;
}

/*
	upcoming 
*/

#widget-upcoming{
	float: right;
	width: calc(100% - 275px);
}

#widget-upcoming #upcoming-heading{
	font-size: 23px;
	text-transform: uppercase;
	height: 36px;
	width: auto;
	line-height: 36px;
	padding-left: 10px;
	margin: 0px 0px 0px 0px;
	background: #EAEAEA;
	background-clip: border-box;
	box-shadow: 0 1px 3px #EAEAEA;
}

#widget-upcoming .splide__track{
	padding-top: 15px;
	padding-bottom: 10px;
}

#widget-upcoming a.box{
	display: inline-block;
	border: 1px solid #EAEAEA;
	box-shadow: 0 1px 3px #EAEAEA;
	height: 450px;
	width: 100%;
	color: var(--e-global-color-text);
}

#widget-upcoming a.box:hover{
	text-decoration: none;
}

#widget-upcoming .header-image img{
	width: 100%;
	height: 200px;
	object-fit: cover;
}

#widget-upcoming .content{
	display: flex;
	flex-direction: column;
}

#widget-upcoming .content h2.title{
	font: normal normal bold 23px/28px Cormorant Garamond;
	margin: 10px 10px 0 10px;
}

#widget-upcoming .content h2.subtitle{
	font-size: 22px;
	font-weight: 800;
	text-transform: none;
	margin: 0 0 0 10px;
	color: #6f6f6f;
}

/*#widget-upcoming .content .details{
	width: 100%;
	position: absolute;
	bottom: 0;
}*/

#widget-upcoming .content .details .type{
	font-size: 15px;
	font-weight: 500;
	line-height: 19px;
	display: flex;
	padding: 0 10px 0 10px;
	color: var(--e-global-color-primary);
	text-transform: uppercase;
}

#widget-upcoming .content .details .type .ivy-canceled{
	color: var(--e-global-color-8f4c73e);
	text-decoration: line-through;
}

#widget-upcoming .content .details .type .ivy-full{
	color: var(--e-global-color-8f4c73e);
}

#widget-upcoming .content .details .type .separator{
	color: var(--e-global-color-70f5b5c);
	/* color: var(--e-global-color-text); */
	padding: 0 9px 0 9px;
}

#widget-upcoming hr.divider-separator{
	height: 1.5px;
	border-width: 0;
	border-radius: 1px;
	background-color: var(--e-global-color-primary);
	opacity: 0.6;
	box-shadow: 0 1px 3px #EAEAEA;
	width: 40%;
	margin: 15px auto 0px auto;
}

#widget-upcoming .content .details .duration{
	font-size: 18px;
	line-height: 20px;
	display: flex;
	align-items: center;
	height: 60px;
	padding: 10px 10px 10px 10px;
}

#widget-upcoming .content .details .duration .float-left{
	display: flex;
	float: left;
	width: calc(100% - 30px);
	align-items: center;
}

#widget-upcoming .content .details .duration .float-left span{
	padding-left: 10px;
}

#widget-upcoming .content .details .duration .float-right{
	float: right;
	align-self: center;
	width: 30px;
	text-align: end;
}

#widget-upcoming .content .details .duration .float-right svg{
	height: 27px;
	width: 27px;
	fill: var(--e-global-color-primary);
}

#widget-upcoming .splide__arrow{
	top: 25%;
	background: none;
	height: 3em;
	width: 3em;
}

#widget-upcoming .splide__arrow svg{
	fill: var( --e-global-color-accent );
	opacity: 1;
	filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

#widget-upcoming .splide__pagination{
	bottom: -2em;
}

/*
	breakpoints for responsiveness
*/

@media (max-width: 910px) {
	#shortcode-agenda .spacer{
		padding-top: 10px;
	}
	#widget-upcoming .spacer{
		padding-top: 50px
	}
	#widget-upcoming a.box:hover{
		transform: none;
	}
	#widget-current{
		float: none;
		width: auto;
		padding: 0 0 0 0;
	}
	#widget-current #current-heading{
		width: auto;
	}
	#widget-current #splide01-track{
		height: auto!important;
	}
	#widget-current .splide__slide{
		width: auto;
	}
	#widget-current a.box{
		display: grid;
		align-content: center;
	}
	#widget-upcoming{
		float: none;
		width: auto;
	}
	#widget-upcoming .splide__arrow{
		top: 30%;
	}
	#widget-upcoming #upcoming-heading{
		margin: 10px 0 0 0;
	}
}